.text-stroke p {
  -webkit-text-stroke: 2px black; /* outline width and color */
  font-family: 'Times New Roman', Times, serif;
}

.btn
{
 padding: 12px 28px;
  background-color: #eae6dc; /* Deep natural green */
  color: #4a4a4a; /* Off-white */
  border: 2px solid #cfc8b5; /* Subtle darker green border */
  border-radius: 9999px; /* fully rounded pill shape */
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);


}

.btn:hover
{
    box-shadow: 0px 5px 5px inset rgba(0, 0, 0, 0.2);

  background-color: #eee7d5;

  transform: translateY(-4px); /* slight lift effect */
}
.hover-button
{
  transition: all 0.25s ease-in-out;
}

.hover-button:hover
{
  box-shadow: 0px 5px 5px inset rgba(0, 0, 0, 0.2);

  background-color: #eee7d5;

  transform: translateY(-4px); /* slight lift effect */
}

.shadow-btn
{
   transition: all 0.25s ease-in-out;
}

.shadow-btn:hover
{
  transform: translateY(-4px); /* slight lift effect */
  text-shadow: 0px -7px 3px rgba(0, 0, 0, 0.6);
}

.mirror {
  position: relative;
  display: inline-block;
  color: #333;
   transition: all 0.35s ease-in-out;
 
}

.mirror:hover
{
  transform: translateY(-4px); /* slight lift effect */
  text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.translateY
{
   transition: all 0.35s ease-in-out;
  
}

.translateY:hover
{
  transform: translateY(-4px); /* slight lift effect */
}

.box
{
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease-in-out;
}

.box:hover
{
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
  transform: scale(1.05)
}
