.text-stroke p {
  -webkit-text-stroke: 2px black; /* outline width and color */
  font-family: 'Times New Roman', Times, serif;
}

.btn
{
 padding: 12px 28px;
  background-color: #567c5e; /* Deep natural green */
  color: #f8f9f4; /* Off-white */
  border: 2px solid #4a6851; /* Subtle darker green border */
  border-radius: 9999px; /* fully rounded pill shape */
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover
{
    background-color: #6e9170; /* Lighter green on hover */
  border-color: #6e9170;
  transform: translateY(-2px); /* slight lift effect */
  box-shadow: 0px 5px 5px inset rgba(0, 0, 0, 0.2);
}